/**** BASE STYLES ****/
.container {
overflow-x: hidden;
}

body {
  font-family: 'K2D', sans-serif;
  color: white;
  background: #1f202b;
}

/**** GRID ****/

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
 width: 33.3%;
 float: left;
}

/**** HEADER ****/

header {
  width: auto;
}

header h1 {
  margin-left: 15px;
}

header nav {
  text-align: right;
  padding-top: 10px;
  margin-right: 25px;
  font-size: 18px;
}

header nav a {
  text-decoration: none;
  color: white;
}

header nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 15px;
}

header img {
  width: 100%;
  height: 700px;
}

/**** WORK ****/

#work {
  width: 100%;
}

#work h1 {
  font-size: 42px;
  text-align: center;
}

#rogue-pickings {
  width: 100%;
  padding: 15px;
  margin: 15px;
  border: 1px solid #1f202b;
  overflow: hidden;
}

#rogue-pickings img {
  width: 650px;
  height: 400px;
  margin-right: 125px;
  margin-left: 35px;
  float: left;
}

#rogue-pickings .content {
  padding-top: 80px;
}

#rogue-pickings h3 {
  font-size: 36px;
}

#rogue-pickings span {
  font-weight: normal;
  font-size: 24px;
}

#rogue-pickings p {
  font-size: 21px;
}

#portfolio-sample {
  width: 100%;
  padding: 75px 15px 15px 15px;
  margin: 15px;
  border: 1px solid #1f202b;
  overflow: hidden;
}

#portfolio-sample img {
  width: 650px;
  height: 400px;
  margin-left: 150px;
  margin-right: 90px;
  float: right;
}

#portfolio-sample .content {
  padding-top: 60px;
  text-align: right;
}

#portfolio-sample h3 {
  font-size: 36px;
}

#portfolio-sample span {
  font-weight: normal;
  font-size: 24px;
}

#portfolio-sample p {
  font-size: 21px;
}

#holstee-manifesto {
  width: 100%;
  padding: 75px 15px 15px 15px;
  margin: 15px;
  border: 1px solid #1f202b;
  overflow: hidden;
}

#holstee-manifesto img {
  width: 425px;
  height: 750px;
  float: left;
  padding-right: 215px;
  padding-left: 75px;
}

#holstee-manifesto .content {
  padding-top: 100px;
}

#holstee-manifesto h3 {
  font-size: 36px;
}

#holstee-manifesto span {
  font-weight: normal;
  font-size: 24px;
}

#holstee-manifesto p {
  font-size: 21px;
}

/**** ABOUT ****/

#about {
  width: 100%;
  height: 500px;
  margin-bottom: 15px;
  position: relative;
}

#about .image {
  width: 100%;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

#about .content {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#about .content h1 {
  text-align: center;
}

#about .content p {
padding-left: 15px;
padding-right: 475px;
}

/**** CONTACT ****/

#contact h1 {
  text-align: center;
}

#contact .hire-me {
  text-align: center;
}

#contact .follow-me {
  text-align: center;
}

#contact .follow-me ul {
  list-style-type: none;
  padding-right: 40px; 
}

#contact .follow-me ul li {
  display: inline-block;
}

#contact .meet-me {
  text-align: center;
}

/**** FOOTER ****/

footer {
  clear: both;
  font-size: 8px;
}
